<h1 style="color: red;">TEST LINE FROM Website/templates</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DAB111 Final Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Our Group Web Page</h1>
    <p>
        This site showcases our collaborative work for the <strong>Data Analytics program</strong> at <strong>St. Clair College</strong>,
        specifically for the course <strong>DAB111 – Introduction to Python Programming</strong> (Spring 2025).
    </p>
    <p>Team Members: Mulugeta and Nurbiya</p>
    <a href="{{ url_for('results') }}" class="button">View Project Results →</a>
</body>
</html>
